In [38]:
import pandas as pd

In [39]:
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2021, 2022, 2023, 2024, 2025]

In [410]:
df = pd.read_csv("data/combined.csv")

In [411]:
del df['Unnamed: 0']

In [412]:
df['Sim_Wins'] = [-1 for _ in range(len(df))]

In [413]:
quads = pd.read_csv("data/quadrants.csv")

quads

    Year  East  Midwest  West  South
0   2013     4        1     2      3
1   2014     2        4     3      1
2   2015     3        1     2      4
3   2016     3        4     2      1
4   2017     1        3     2      4
5   2018     3        4     2      1
6   2019     1        4     2      3
7   2021     2        4     1      3
8   2022     2        4     1      3
9   2023     2        3     4      1
10  2024     1        4     2      3
11  2025     3        4     2      1

In [414]:
df

,Year,Team,Wins,Wins_Rank,Proj_Wins,Proj_Wins_Rank,Proj_Wins_Binned,Region,Seed,Sim_Wins
0,2025,Florida,6,1,2.792968,3,4,West,1,-1
1,2025,Texas Tech,3,5,1.340550,9,2,West,3,-1
2,2025,Arkansas,2,9,0.775566,33,0,West,10,-1
3,2025,Maryland,2,9,1.499571,5,3,West,4,-1
4,2025,Drake,1,17,0.459497,33,0,West,11,-1
...,...,...,...,...,...,...,...,...,...,...
811,2013,LIU Brooklyn,0,33,0.097838,33,0,East,16,-1
812,2013,James Madison,0,33,0.139081,33,0,East,16,-1
813,2013,Davidson,0,33,0.372901,33,0,East,14,-1
814,2013,Colorado,0,33,0.799889,33,0,East,10,-1
815,2013,Bucknell,0,33,0.524515,33,0,East,11,-1

In [415]:
def same_seed(df, seed, r):
    
    subdf = pd.DataFrame(df[df["Seed"] == seed])
    team1 = subdf.head(1)
    team1index = team1["Team"].index
    team2 = subdf.tail(1)
    team2index = team2["Team"].index

    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = r

    else:
        df.loc[team1index, "Sim_Wins"] = r
        
    return df

In [416]:
def round64(df):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    seeds1 = [1,2,3,4,5,6,7,8]
    seeds2 = [16,15,14,13,12,11,10,9]
    
    for i in range(0,8):
        
        rdf = subdf[(subdf["Seed"] == seeds1[i]) | (subdf["Seed"] == seeds2[i])]
        team1 = rdf.head(1)
        team1index = team1["Team"].index
        team2 = rdf.tail(1)
        team2index = team2["Team"].index
        
        if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
            df.loc[team2index, "Sim_Wins"] = 0
            
        else:
            df.loc[team1index, "Sim_Wins"] = 0
            
    return df

In [417]:
def round32(df):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    team1 = subdf[(subdf["Seed"] == 1) | (subdf["Seed"] == 16)]
    team1index = team1["Team"].index
    team2 = subdf[(subdf["Seed"] == 8) | (subdf["Seed"] == 9)]
    team2index = team2["Team"].index
    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = 1
    else:
        df.loc[team1index, "Sim_Wins"] = 1
    
    team3 = subdf[(subdf["Seed"] == 5) | (subdf["Seed"] == 12)]
    team3index = team3["Team"].index
    team4 = subdf[(subdf["Seed"] == 4) | (subdf["Seed"] == 13)]
    team4index = team4["Team"].index
    if team3["Proj_Wins"].iloc[0] > team4["Proj_Wins"].iloc[0]:
        df.loc[team4index, "Sim_Wins"] = 1
    else:
        df.loc[team3index, "Sim_Wins"] = 1
    
    team5 = subdf[(subdf["Seed"] == 6) | (subdf["Seed"] == 11)]
    team5index = team5["Team"].index
    team6 = subdf[(subdf["Seed"] == 3) | (subdf["Seed"] == 14)]
    team6index = team6["Team"].index
    if team5["Proj_Wins"].iloc[0] > team6["Proj_Wins"].iloc[0]:
        df.loc[team6index, "Sim_Wins"] = 1
    else:
        df.loc[team5index, "Sim_Wins"] = 1
    
    team7 = subdf[(subdf["Seed"] == 7) | (subdf["Seed"] == 10)]
    team7index = team7["Team"].index
    team8 = subdf[(subdf["Seed"] == 2) | (subdf["Seed"] == 15)]
    team8index = team8["Team"].index
    if team7["Proj_Wins"].iloc[0] > team8["Proj_Wins"].iloc[0]:
        df.loc[team8index, "Sim_Wins"] = 1
    else:
        df.loc[team7index, "Sim_Wins"] = 1
        
    return df

In [418]:
def sweet16(df):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    options1 = [1,8,9,16]
    for i in options1:
        if not subdf[subdf["Seed"] == i].empty:
            team1 = subdf[subdf["Seed"] == i]
            break
    team1index = team1["Team"].index
    options2 = [4,5,12,13]
    for i in options2:
        if not subdf[subdf["Seed"] == i].empty:
            team2 = subdf[subdf["Seed"] == i]
            break
    team2index = team2["Team"].index
        
    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = 2
    else:
        df.loc[team1index, "Sim_Wins"] = 2
        
    options3 = [3,6,11,14]
    for i in options3:
        if not subdf[subdf["Seed"] == i].empty:
            team3 = subdf[subdf["Seed"] == i]
            break 
    team3index = team3["Team"].index
    options4 = [2,7,10,15]
    for i in options4:
        if not subdf[subdf["Seed"] == i].empty:
            team4 = subdf[subdf["Seed"] == i]
            break
    team4index = team4["Team"].index
        
    if team3["Proj_Wins"].iloc[0] > team4["Proj_Wins"].iloc[0]:
        df.loc[team4index, "Sim_Wins"] = 2
    else:
        df.loc[team3index, "Sim_Wins"] = 2
        
    return df

In [419]:
def elite8(df):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    options1 = [1,4,5,8,9,12,13,16]
    for i in options1:
        if not subdf[subdf["Seed"] == i].empty:
            team1 = subdf[subdf["Seed"] == i]
            break
    team1index = team1["Team"].index
    
    options2 = [2,3,6,7,10,11,14,15]
    for i in options2:
        if not subdf[subdf["Seed"] == i].empty:
            team2 = subdf[subdf["Seed"] == i]
            break
    team2index = team2["Team"].index
    
    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = 3
    else:
        df.loc[team1index, "Sim_Wins"] = 3
        
    return df

In [420]:
def region_simulation(data, year, region):
    
    seeds = list(range(1,17))
    
    df = data[(data["Year"] == year) & (data["Region"] == region)]
    ###########################################################################
    # FIRST FOUR
    r = 0
    
    for seed in seeds:
    
        if df[df["Seed"] == seed].shape[0] != 1:
            
            df = same_seed(df, seed, r)
    ##########################################################################
    ##########################################################################
    # FIRST ROUND (R64)
        
    df = round64(df)
    
    ##########################################################################
    ##########################################################################
    # SECOND ROUND (R32)
    
    df = round32(df)
    
    ##########################################################################
    ##########################################################################
    # SWEET 16
    
    df = sweet16(df)
    
    ##########################################################################
    ##########################################################################
    # ELITE 8
    
    df = elite8(df)
    
    return df

In [421]:
def final4(df, year):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    quads = pd.read_csv("data/quadrants.csv")
    quads = quads[quads["Year"] == year]
    
    if quads["East"].iloc[0] == 1:
        team1 = subdf[subdf["Region"] == "East"]
    elif quads["West"].iloc[0] == 1:
        team1 = subdf[subdf["Region"] == "West"]
    elif quads["South"].iloc[0] == 1:
        team1 = subdf[subdf["Region"] == "South"]
    elif quads["Midwest"].iloc[0] == 1:
        team1 = subdf[subdf["Region"] == "Midwest"]
    team1index = team1["Team"].index
        
    if quads["East"].iloc[0] == 2:
        team2 = subdf[subdf["Region"] == "East"]
    elif quads["West"].iloc[0] == 2:
        team2 = subdf[subdf["Region"] == "West"]
    elif quads["South"].iloc[0] == 2:
        team2 = subdf[subdf["Region"] == "South"]
    elif quads["Midwest"].iloc[0] == 2:
        team2 = subdf[subdf["Region"] == "Midwest"]
    team2index = team2["Team"].index
        
    if quads["East"].iloc[0] == 3:
        team3 = subdf[subdf["Region"] == "East"]
    elif quads["West"].iloc[0] == 3:
        team3 = subdf[subdf["Region"] == "West"]
    elif quads["South"].iloc[0] == 3:
        team3 = subdf[subdf["Region"] == "South"]
    elif quads["Midwest"].iloc[0] == 3:
        team3 = subdf[subdf["Region"] == "Midwest"]
    team3index = team3["Team"].index
        
    if quads["East"].iloc[0] == 4:
        team4 = subdf[subdf["Region"] == "East"]
    elif quads["West"].iloc[0] == 4:
        team4 = subdf[subdf["Region"] == "West"]
    elif quads["South"].iloc[0] == 4:
        team4 = subdf[subdf["Region"] == "South"]
    elif quads["Midwest"].iloc[0] == 4:
        team4 = subdf[subdf["Region"] == "Midwest"]
    team4index = team4["Team"].index
        
    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = 4
    else:
        df.loc[team1index, "Sim_Wins"] = 4
     
    if team3["Proj_Wins"].iloc[0] > team4["Proj_Wins"].iloc[0]:
        df.loc[team4index, "Sim_Wins"] = 4
    else:
        df.loc[team3index, "Sim_Wins"] = 4
        
    return df

In [422]:
def championship(df):
    
    subdf = df[df["Sim_Wins"] == -1]
    
    team1 = subdf.head(1)
    team1index = team1["Team"].index
    team2 = subdf.tail(1)
    team2index = team2["Team"].index
    
    if team1["Proj_Wins"].iloc[0] > team2["Proj_Wins"].iloc[0]:
        df.loc[team2index, "Sim_Wins"] = 5
        df.loc[team1index, "Sim_Wins"] = 6
    else:
        df.loc[team1index, "Sim_Wins"] = 5
        df.loc[team2index, "Sim_Wins"] = 6
        
    return df

In [423]:
def bracket_simulation(data, year):
    
    df1 = region_simulation(data, year, "West")
    df2 = region_simulation(data, year, "East")
    df3 = region_simulation(data, year, "South")
    df4 = region_simulation(data, year, "Midwest")
    
    df = pd.concat([df1, df2, df3, df4])
    
    df = final4(df, year)
    
    df = championship(df)
                            
    return df

In [399]:
new_df = bracket_simulation(df, 2019)

In [400]:
new_df.sort_values(["Sim_Wins", "Proj_Wins"], ascending=False).head(25)

,Year,Team,Wins,Wins_Rank,Proj_Wins,Proj_Wins_Rank,Proj_Wins_Binned,Region,Seed,Sim_Wins
391,2019,Duke,3,5,3.866203,1,6,East,1,6
358,2019,Virginia,6,1,3.058160,2,5,South,1,5
377,2019,North Carolina,2,9,2.349702,3,4,Midwest,1,4
343,2019,Michigan,2,9,2.229588,3,4,West,2,4
390,2019,Michigan St.,4,3,2.169324,5,3,East,2,3
375,2019,Kentucky,3,5,2.134201,5,3,Midwest,2,3
341,2019,Gonzaga,3,5,2.084196,5,3,West,1,3
359,2019,Purdue,3,5,1.904395,9,2,South,3,3
374,2019,Auburn,4,3,1.944300,5,3,Midwest,5,2
392,2019,Virginia Tech,2,9,1.557172,9,2,East,4,2
360,2019,Tennessee,2,9,1.532410,9,2,South,2,2
373,2019,Wisconsin,0,33,1.470417,9,2,South,5,2
388,2019,Iowa St.,0,33,1.461486,9,2,Midwest,6,2
340,2019,Texas Tech,5,2,1.411822,9,2,West,3,2
393,2019,LSU,2,9,1.353214,9,2,East,3,2
342,2019,Florida St.,2,9,1.309751,17,1,West,4,2
379,2019,Kansas,1,17,1.567199,9,2,Midwest,4,1
398,2019,Mississippi St.,0,33,1.334406,17,1,East,5,1
376,2019,Houston,2,9,1.149782,17,1,Midwest,3,1
370,2019,Kansas St.,0,33,1.145873,17,1,South,4,1
369,2019,Cincinnati,0,33,1.133488,17,1,South,7,1
364,2019,Villanova,1,17,1.109051,17,1,South,6,1
396,2019,Maryland,1,17,1.078870,17,1,East,6,1
381,2019,Wofford,1,17,0.987512,17,1,Midwest,7,1
344,2019,Florida,1,17,0.954642,17,1,West,10,1

In [424]:
dfs = []

for year in years:
    
    dfs.append(bracket_simulation(df, year))

In [427]:
sim_df = pd.concat(dfs)

In [429]:
sim_df = sim_df[["Year", "Team", "Seed", "Region", "Proj_Wins", "Wins", "Sim_Wins"]]

In [432]:
sim_df = sim_df.sort_values(["Year", "Wins", "Sim_Wins"], ascending=False)

In [452]:
sim_df[(sim_df["Seed"] > 9) & (sim_df["Sim_Wins"] > 0)]

     Year          Team  Seed   Region  Proj_Wins  Wins  Sim_Wins
78   2024    New Mexico    11     West   1.109393     0         1
223  2022      Michigan    11    South   0.790707     2         1
344  2019       Florida    10     West   0.954642     1         1
443  2018      Syracuse    11  Midwest   0.920235     2         1
465  2018        Butler    10     East   1.007628     1         1
435  2018         Texas    10    South   1.022348     0         1
451  2018      Oklahoma    10  Midwest   0.831049     0         1
477  2017        Xavier    11     West   0.704115     3         1
499  2017   Wichita St.    10    South   1.258348     1         1
541  2017     Marquette    10     East   0.743247     0         1
578  2016      Syracuse    10  Midwest   0.814377     4         1
549  2016           VCU    10     West   0.752423     1         1
604  2016    Pittsburgh    10     East   0.820333     0         1
619  2015      Ohio St.    10     West   1.237161     1         1
694  2014           BYU    10     West   0.784660     0         1
721  2014        Xavier    12  Midwest   0.687697     0         1
728  2014          Iowa    11  Midwest   1.375770     0         1
771  2013     Minnesota    11    South   1.047425     1         1
791  2013  Saint Mary's    11  Midwest   0.838344     0         1
797  2013    Cincinnati    10  Midwest   1.054253     0         1

In [477]:
sim_df[(sim_df["Sim_Wins"] > 4)].sort_values(["Year", "Sim_Wins"], ascending=False)

     Year            Team  Seed   Region  Proj_Wins  Wins  Sim_Wins
51   2025            Duke     1     East   3.805286     4         6
0    2025         Florida     1     West   2.792968     6         5
88   2024         Houston     1    South   3.646280     2         6
120  2024     Connecticut     1     East   3.505453     6         5
138  2023            UCLA     2     West   2.787116     2         6
202  2023          Purdue     1     East   2.507273     0         5
206  2022         Gonzaga     1     West   3.067861     2         6
238  2022          Kansas     1  Midwest   2.587712     6         5
272  2021         Gonzaga     1     West   3.287146     5         6
310  2021        Illinois     1  Midwest   2.777235     1         5
391  2019            Duke     1     East   3.866203     3         6
358  2019        Virginia     1    South   3.058160     6         5
434  2018        Virginia     1    South   4.019178     0         6
458  2018       Villanova     1     East   3.393001     6         5
533  2017       Villanova     1     East   3.078781     1         6
492  2017  North Carolina     1    South   2.642189     6         5
594  2016  North Carolina     1     East   3.525305     5         6
562  2016          Kansas     1    South   3.146604     3         5
646  2015        Kentucky     1  Midwest   5.706480     4         6
669  2015       Villanova     1     East   2.558112     1         5
696  2014         Florida     1    South   3.134863     4         6
681  2014         Arizona     1     West   2.674279     3         5
781  2013      Louisville     1  Midwest   3.441082     6         6
802  2013         Indiana     1     East   2.566734     2         5

In [451]:
sim_df.to_csv("data/simulated_bracket.csv")

In [461]:
len(sim_df[(sim_df["Wins"] == sim_df["Sim_Wins"])]) / len(sim_df)

0.5612745098039216